body {
    font-family: 'Exo', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.side-image img {
    width: 100px; /* Ajusta este valor según sea necesario */
    height: auto;
    position: absolute; 
    top: 0; 
    right: 0;
    border-radius: 0%;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100%;
}

.profile-info {
    padding: 20px;
    text-align: center;
}

.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}


.content-area {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #333;
    padding-bottom: 20px;
}

.content {
    height: calc(100% - 40px); /* Adjust height */
    overflow-y: auto;
}

.card-header {
    display: flex;
    align-items: center;
    font-size: 1.2em; /* Asegúrate de que el tamaño de fuente sea adecuado para tus íconos y texto */
}

.card-header i {
    margin-right: 10px;
    font-size: 1.5em; /* Ajusta el tamaño del ícono si es necesario */
}

.card-body {
    padding-top: 20px; /* Aumenta el padding superior para separar el contenido del ícono */
}



/* Ajustes adicionales para otros elementos */
.nav-menu ul li a {
    color: inherit;
}

.nav-menu ul li a:hover {
    background-color: #555;
}

.btn-group .btn {
    margin-right: 5px; /* Ajusta este valor según sea necesario */
}

.btn-group .btn:last-child {
    margin-right: 0;
}

/* Centrar y alinear el contenido de la tabla */
.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}
